/* Main website Css */
body{
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 20px;
  background: #ffffff;
  min-height: 3000px;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif
}

/* Navigation bar */
a{
  display: inline-block;
  color: #333;
  text-decoration: none;
}  

.container{
  width: 80%;
  margin: 0 auto;
  clear: both;
}

/* Services */
.services {
  margin-top: -20px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: #333;
}

/* Box container for services */
.flex-container1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* border: 1vh solid #181b2c; */
  border-radius: 25px;
  justify-content: center;
  
}

.flex-container1 > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  align-items: center;
  border-radius: 25px;
}

/* Icon buttons and text */
.icon-pic {
  border-radius: 50%;
  width: 100px;
}

.icon-text {
  text-align: center;
  font-size: 20px;
}
/* Booking Map */
.booking {
  text-align: center;
  background-color: #f1f1f1;
  margin: 10px;
  padding: 1px;
  font-size: 30px;
  border-radius: 25px;
}

.booking-title {
  color: #333;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin: 20px;
}

.booking-data {
  color: #333;
  text-align: center;
  background-color: #ffffff;
  margin: 10px;
  padding: 20px;
  font-size: 20px;
  border-radius: 25px;
}

nav {
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 20px;
  background: #fff;
  height: 80px;
  line-height: 80px;
  box-shadow: 1px 1px 1px rgba(0, 0,0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9998;
  transition: all 0.5s;
}

.nav a.split {
  float: right;
  background-color: blueviolet;
  color: white;
}

  ul.navbar-menu{
    margin: 0;
    padding: 0;
    display: inline-block;
  
  }    
    li{
      display: inline-block;
      margin: 0 10px;
    }
      a{
        color: #666;
        font-size: 14px;
      }
  a#brand{
    text-transform: uppercase;
    float: left;
    font-weight: 800;
    font-size: 20px;
  }
  button{
    background: none;
    width: 30px;
    height: 40px;
    margin-top: 20px;
    border: none;
    display: inline-block;
    cursor: pointer;
    display: none;
  }
    span{
      width: 30px;
      height: 40px;
      height: 2px;
      background: #333;
      display: block;
      margin: 5px 0;
    }

/* Rating website section */
    .rating {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      margin: -20px;
      }
      
      
      .rating > input{ display:none;}
      
      .rating > label {
      position: relative;
      /* width: 1.1em; */
      font-size: 10vw;
      color: #FFD700;
      cursor: pointer;
      }
      
      .rating > label::before{
      content: "\2605";
      position: absolute;
      opacity: 0;
      }
      
      .rating > label:hover:before,
      .rating > label:hover ~ label:before {
      opacity: 1 !important;
      }
      
      .rating > input:checked ~ label:before{
      opacity:1;
      }
      
      .rating:hover > input:checked ~ label:before { 
        opacity: 0.4; 
      }

/* About Us */
    .about {
      margin: 3rem 4rem;
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      justify-content: center;
    }
    .about-header {
      margin-top: 20px;
      text-align: center;
    }
    
    .about-header h1 {
      font-weight: 700;
      font-size: 3.2rem;
      color: #666;
      text-align: center
    }

    .about-content p {
      margin-top: -10px;
      color: #181b2c;
      text-align: center;
      text-justify: inter-word;
    }

/* Contact Us */
    .contact h1 {
      text-align: center;
      font-weight: 700;
      font-size: 3.2rem;
      color: #666;
      justify-content: center;
      margin-top: 50px;
    }

    .flex-container {
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      margin: 10px 2em;
    }

    .flex-item-left {
      padding: 10px;
      flex: 50%;
    }

    .flex-item-left h1 {
      font-weight: 700;
      color: #666;
      margin-top: 75px;
    }

    .flex-item-left h4 {
      font-weight: 700;
      color: #666;
      margin-top: 10px;
    }

    .flex-item-left p {
      font-weight: 400;
      color: #666;
    }

    .flex-item-right {
      padding: 10px;
      flex: 50%;
    }

    .flex-item-right form {
      margin: 10px;
    }

    .flex-item-right form input[type="text"],
    select,
    textarea {
      font-weight: 400;
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-top: 6px;
      margin-bottom: 16px;
      resize: vertical;
    }

    .flex-item-right button {
      background-color: #666;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 3px;
      width: 100%;
    }

    .flex-item-right button:hover,
    .flex-item-right button:focus {
      background-color: #666;
      color: white;
    }

    .flex-item-center {
      padding: 10px;
      flex: 50%;
      margin-top: 10px;
      margin-bottom: -30px;
    }

    .flex-item-center form {
      margin: 10px;
    }

    .flex-item-center form input[type="text"],
    select,
    textarea {
      font-weight: 400;
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-top: 6px;
      margin-bottom: 16px;
      resize: vertical;
    }

    .flex-item-center button {
      background-color: #666;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 3px;
      width: 100%;
    }
    
    .flex-item-center button:hover,
    .flex-item-center button:focus {
      background-color: #666;
      color: white;
    }


   /* Media function */
@media (max-width: 768px){
  nav ul.navbar-menu{
    display: none;
  }
  nav button{
    display: block;
  }
}
@media (max-width: 768px) {
  .about-header {
    text-align: center;
  }
}
