body{
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 20px;
  background: #eee;
  min-height: 3000px;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif
  
}
.container{
  width: 80%;
  margin: 0 auto;
  clear: both;
}
.flex-container1 {
  display: flex;
  background-color: DodgerBlue;
  align-items: center;
}

  .center{
    display: flex;
    justify-content: center;
  }

.flex-container1 > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  align-items: center;
}
a{
  display: inline-block;
  color: #333;
  text-decoration: none;
}  
  
nav {
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 20px;
  background: #fff;
  height: 80px;
  line-height: 80px;
  box-shadow: 1px 1px 1px rgba(0, 0,0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9998;
  transition: all 0.5s;
}
.nav a.split {
  float: right;
  background-color: blueviolet;
  color: white;
}
  .scrollUp{
    transform: translateY(-80px)
}
  ul.navbar-menu{
    margin: 0;
    padding: 0;
    display: inline-block;
  
  }    
    li{
      display: inline-block;
      margin: 0 10px;
    }
      a{
        color: #666;
        font-size: 14px;
      }
  a#brand{
    text-transform: uppercase;
    float: left;
    font-weight: 800;
    font-size: 20px;
  }
  button{
    background: none;
    width: 30px;
    height: 40px;
    margin-top: 20px;
    border: none;
    display: inline-block;
    cursor: pointer;
    display: none;
  }
    span{
      width: 30px;
      height: 40px;
      height: 2px;
      background: #333;
      display: block;
      margin: 5px 0;
    }      
    
    .about {
      margin: 3rem 4rem;
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      justify-content: center;
    }
    .about-header {
      text-align: center;
    }
    @media (max-width: 768px) {
      .about-header {
        text-align: center;
      }
    }
    .about-header h1 {
      font-weight: 700;
      font-size: 3.2rem;
      color: #666;
      text-align: center
    }
    .about-content p {
      color: #181b2c;
      text-align: justify;
      text-justify: inter-word;
    }

    .contact h1 {
      text-align: center;
      font-weight: 700;
      font-size: 3.2rem;
      color: #666;
      justify-content: center;
    }
    .flex-container {
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      margin: 10px 2em;
    }
    .flex-item-left {
      padding: 10px;
      flex: 50%;
    }
    .flex-item-left h4 {
      font-weight: 700;
      color: #666;
    }
    .flex-item-left p {
      font-weight: 400;
      color: #666;
    }
    .flex-item-right {
      padding: 10px;
      flex: 50%;
    }
    .flex-item-right form {
      margin: 10px;
    }
    .flex-item-right form input[type="text"],
    select,
    textarea {
      font-weight: 400;
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-top: 6px;
      margin-bottom: 16px;
      resize: vertical;
    }
    .flex-item-right button {
      background-color: #666;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 3px;
      width: 100%;
    }
    .flex-item-right button:hover,
    .flex-item-right button:focus {
      background-color: #666;
      color: white;
    }

    .flex-item-center {
      padding: 10px;
      flex: 50%;
    }
    .flex-item-center form {
      margin: 10px;
    }
    .flex-item-center form input[type="text"],
    select,
    textarea {
      font-weight: 400;
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-top: 6px;
      margin-bottom: 16px;
      resize: vertical;
    }
    .flex-item-center button {
      background-color: #666;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 3px;
      width: 100%;
    }
    .flex-item-center button:hover,
    .flex-item-center button:focus {
      background-color: #666;
      color: white;
    }


    
@media (max-width: 768px){
  nav ul.navbar-menu{
    display: none;
  }
  nav button{
    display: block;
  }
}
    